.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h5 {
  margin-top: 1rem;
}

.modalContent {
  margin-top: 5rem;
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  overflow-y: scroll;
}

.modalContentRow {
  display: flex;
  flex-direction: row;
}

.modalContentColumn {
  display: flex;
  flex-direction: column;
}

.modalContentColumn h5 {
  margin-top: 1rem;
}

.error {
  margin-top: 1rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: red;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  margin-top: 1rem;
  align-items: first baseline;
}

.inputTitle {
  width: 20%;
  color: gray;

  height: 2.5rem;
}

.input {
  border-radius: 0.3rem;
  border-width: 0.1rem;
  border-style: ridge;
  border-color: lightgray;
  width: 30%;
  height: 2.5rem;
  margin-right: 2rem;
  background-color: lightgray;
  color: black;
}

.inputCheck {
  border-radius: 0.3rem;
  border-width: 0.1rem;
  border-style: ridge;
  border-color: lightgray;
  width: 30%;
  height: 1rem;
  margin-right: 2rem;
}

.add {
  border: 1px solid #aaa;
  border-radius: 0.3rem;
  height: 2rem;
  /* Minimum height for the drop area */
  width: 1.5rem;
  text-align: center;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.add:hover {
  background-color: #ddd;
  border: 1px solid #aaa;
}

.remove {
  height: 1.5rem;
  /* Minimum height for the drop area */
  width: 1.5rem;
  text-align: center;
  color: red;
}

.areaQualifContainer {
  display: flex;
  margin: 0.5rem;
  border-color: red;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.1rem;
  align-content: center;
  padding: 0.3rem;
  width: 30%;
  justify-content: space-between;
}

.areaQualifContainer:hover {
  cursor: pointer;
  background-color: salmon;
}

.smalltext {
  font-size: small;
  margin: auto;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  /* Espace entre les boutons */
  flex-wrap: wrap;
  /* Permet aux boutons de passer à la ligne si nécessaire */
}

.buttonContainer button {
  flex: 1;
  /* Les boutons prendront un espace égal */
  min-width: 150px;
  /* Largeur minimale pour éviter que les boutons deviennent trop petits */
  margin: 0.1rem;
  /* Marge entre les boutons */
}

.buttonCancel {
  padding: 0.5rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  /* Optional: Smooth transition */
  font-size: 1rem;

  height: 3.5rem;
  margin: 0.1rem;
  background-color: white;
  color: red;
}

.buttonCancel:hover {
  background-color: rgb(255, 209, 209);
  /* Change to your desired hover background color */
}

.buttonSave {
  padding: 0.5rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  /* Optional: Smooth transition */
  font-size: 1rem;

  height: 3.5rem;
  margin: 0.1rem;
  background-color: blue;
  color: white;
}

.buttonSave:hover {
  background-color: darkblue;
  /* Change to your desired hover background color */
}

.buttonDelete {
  padding: 0.5rem;
  border: 0.1rem solid;
  border-radius: 0.1rem;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  /* Optional: Smooth transition */
  font-size: 1rem;
  border-radius: 1rem;
  height: 3.5rem;
  margin: 0.1rem;
  background-color: rgb(0, 0, 0);
  color: white;
}

.buttonDelete:hover {
  background-color: rgb(60, 60, 60);
  /* Change to your desired hover background color */
}

.selectContainer {
  display: flex;
  align-items: center;
  width: 80%;
}

.select {
  background-color: white;
  color: black;
  border-radius: 0.3rem;
  border-style: ridge;
  padding: 0.1rem;
  border-color: lightgray;
  border-width: 0.1rem;
  text-align: center;
  height: 2rem;
  width: 100%;
  margin-left: -0.8rem;
}

.select::picker(select) {
  appearance: base-select;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: black;
}

.select > option {
  color: black;
  border-color: lightgray;
}

.smallSelect {
  background-color: white;
  color: black;
  border-radius: 0.3rem;
  border-style: ridge;
  padding: 0.1rem;
  border-color: lightgray;
  border-width: 0.1rem;
  text-align: center;
  height: 2rem;
  width: 30%;

  margin-right: 2rem;
}

.smallSelect::picker(select) {
  appearance: base-select;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: black;
}

.smallSelect > option {
  color: black;
  border-color: lightgray;
}
